
header h1{
    padding: 10px 20px;
}

.fa-shopping-cart {
  padding: 20px 30px 20px 20px;
  margin-right: 10px;
  color: red
}
.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}

.description {
  font-size: 150%;
  margin-top:50px;
}
