<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Depot</title>
  <script src="assets/js/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

  <script src="assets/js/jquery-3.4.1.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
  <script src="https://kit.fontawesome.com/87f0b247e5.js" crossorigin="anonymous"></script>
</head>

<body>

  <div id="app">

    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark static-top bg-dark">
          <span class="navbar-brand">
            <h1>{{ sitename }}</h1>
          </span>
          <div class="navbar navbar-nav navbar-right">
            <button class="btn btn-secondary btn-lg ml-auto" v-on:click="showCheckout">
              <span class="fas fa-shopping-cart">{{ cartItemCount }}</span>Checkout
            </button>
          </div>
        </nav>

    </div>

        <div class="row">
          <div v-if="showProduct">
            <div class="col-auto mr-auto">
              <figure>
                <img v-bind:src="product.image">
              </figure>
            </div>
            <!-- <div class="col-sm-6 offset-5 description"> -->
              <div class="col-md-3 ml-auto">
              <h1 v-text="product.title"></h1>
              <p v-html="product.description"></p>
              <p class="price">
                {{product.price | formatPrice}}
              </p>
              <button class="btn btn-primary btn-lg" v-on:click="addToCart" v-if="canAddToCart">Add to Cart</button>
              <button disabled="true" class=" btn btn-primary btn-lg" v-else>Add to Cart</button>
            </div>
          </div>
          <div v-else></div>
        </div>
      </div>

  <script type="text/javascript">
    var APP_LOG_LIFECYCLE_EVENTS = true;
    var webstore = new Vue({
      el: '#app',
      data: {
        sitename: "Pet Despot",
        showProduct: true,
        product: {
          id: 1001,
          title: "Cat Food, 25Lb bag",
          description: " 25 pound bag of <em>irresistable</em>, " + "organic goodness for your cat.",
          price: 2000,
          image: "assets/images/product-fullsize.png",
          availableInventory: 5
        },
        cart: []
      },
      methods: {
        addToCart: function () {
          this.cart.push(this.product.id);
        },
        showCheckout() {
          this.showProduct = this.showProduct ? false : true;	//#C
        },
      },
      computed: {
        cartItemCount: function () {
          return this.cart.length || '';
        },
        canAddToCart: function () {
          return this.product.availableInventory > this.cartItemCount;
        }
      },
      filters: {
        formatPrice(price) {
          if (!parseInt(price)) { return ""; }
          if (price > 99999) {
            let priceString = (price / 100).toFixed(2);
            let priceArray = priceString.split("").reverse();
            let index = 3;
            while (priceArray.length > index + 3) {
              priceArray.splice(index + 3, 0, ",");
              index += 4;
            }
            return "$" + priceArray.reverse().join("");
          } else {
            return "$" + (price / 100).toFixed(2)
          }
        }
      },
      beforeCreate: function () {	//#B
        if (APP_LOG_LIFECYCLE_EVENTS) {	//#B
          console.log("beforeCreate");	//#B
        }	//#B
      },	//#B
      created: function () {	//#C
        if (APP_LOG_LIFECYCLE_EVENTS) {	//#C
          console.log("created");	//#C
        }	//#C
      },	//#C
      beforeMount: function () {	//#D
        if (APP_LOG_LIFECYCLE_EVENTS) {	//#D
          console.log("beforeMount");	//#D
        }	//#D
      },	//#D
      mounted: function () {	//#E
        if (APP_LOG_LIFECYCLE_EVENTS) {	//#E
          console.log("mounted"); 	//#E
        } 	//#E
      },	//#E
      beforeUpdate: function () { 	//#F
        if (APP_LOG_LIFECYCLE_EVENTS) { 	//#F
          console.log("beforeUpdate"); 	//#F
        } 	//#F
      },	//#F
      updated: function () { 	//#G
        if (APP_LOG_LIFECYCLE_EVENTS) { 	//#G
          console.log("updated"); 	//#G
        } 	//#G
      },	//#G
      beforeDestroy: function () { 	//#H
        if (APP_LOG_LIFECYCLE_EVENTS) { 	//#H
          console.log("beforeDestroy "); 	//#H
        } 	//#H
      },	//#H
      destroyed: function () { 	//#I
        if (APP_LOG_LIFECYCLE_EVENTS) { 	//#I
          console.log("destroyed"); 	//#I
        } 	//#I
      }	//#I
    });
  </script>
</body>

</html>